* {
  box-sizing: border-box;
}

.is-active {
  font-weight: bold;
}

button {
  cursor: pointer;
}

body {
  color: #333;
  font-family: Helvetica, Arial, Helvetica, sans-serif;
  line-height: 1.6;
}
